body {
    background-color: black;
    overflow: hidden;
}


.button-container {
    margin-top: 10px;
    left: 200px;
    position: absolute;
    color: #028BD9;
    font-size: 36px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: 800;
}

.button-container a {
    cursor: pointer;
}

.conjunto-primeiro {
    left: 163px;
    top: 100px;
    margin: 3px;
    position: absolute;
}

.primeiro-texto {
    width: 941px;
    height: 241px;
    left: 10px;
    top: 0px;
    position: absolute;
    color: white;
    font-size: 48px;
    font-family: monospace;
    font-weight: 400;
    word-wrap: break-word;
}

.texto2-style {
    width: 1001px;
    left: 5px;
    top: 80px;
    position: absolute;
    color: #00FEEF;
    font-size: 48px;
    font-family: monospace;
    font-weight: 400;
    word-wrap: break-word;
}

.paragrafo {
    width: 933px;
    height: 228px;
    left: 10px;
    top: 230px;
    position: absolute;
    color: white;
    font-size: 26px;
    font-family: monospace;
    font-weight: 400;
    word-wrap: break-word;
}

.conjunto-segundo {
    width: 1143px;
    height: 293px;
    left: 109px;
    top: 600px;
    position: absolute;
}


.terceira-caixa {
    width: 362px;
    height: 292px;
    left: 0px;
    top: 0px;
    position: absolute;
}

.caixa-style-teceiro {
    width: 355px;
    height: 292px;
    left: 0px;
    top: 0px;
    position: absolute;
    background: #0E2C40;
    border-radius: 10px;
}

.image-nuvem {
    width: 90px;
    height: 20px;
    left: 10px;
    top: 10px;
    position: relative;
}

.texto-nuvem {
    width: 276px;
    left: 86px;
    top: 45px;
    position: absolute;
    text-align: center;
    color: rgb(0, 0, 0);
    font-size: 24px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 800;
    word-wrap: break-word;
}


.text-nuvem-paragrafo {
    width: 355px;
    height: 133px;
    left: 0px;
    top: 115px;
    position: absolute;
    text-align: center;
    color: white;
    font-size: 24px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 400;
    word-wrap: break-word;
}


.setas-caixa {
    width: 355px;
    height: 292px;
    left: 383px;
    top: 1px;
    position: absolute;
}

.caixa-style-primeira {
    width: 355px;
    height: 292px;
    left: 0px;
    top: 0px;
    position: absolute;
    background: #0E2C40;
    border-radius: 10px;
}

.image-setas img {
    width: 70px;
    height: 100px;
    left: 15px;
    position: absolute;
}

.texto-simplicidade {
    left: 121px;
    top: 10px;
    position: absolute;
    text-align: center;
    color: rgb(0, 0, 0);
    font-size: 24px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 800;
    word-wrap: break-word;
}

.texto-simplicidade-paragrafo {
    width: 355px;
    height: 133px;
    left: 0px;
    top: 80px;
    position: absolute;
    text-align: center;
    color: white;
    font-size: 24px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 400;
    word-wrap: break-word;
}

.digital-caixa {
    width: 376px;
    height: 292px;
    left: 767px;
    top: 1px;
    position: absolute;
}

.caixa-style-digital {
    width: 355px;
    height: 292px;
    left: 10px;
    top: 0px;
    position: absolute;
    background: #0E2C40;
    border-radius: 10px;
}

.texto-digital {
    width: 276px;
    left: 86px;
    top: -10px;
    position: absolute;
    text-align: center;
    color: rgb(0, 0, 0);
    font-size: 24px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 800;
    word-wrap: break-word;
}

.texto-digital-paragrafo {
    width: 320px;
    left: 25px;
    top: 122px;
    position: absolute;
    text-align: center;
    color: white;
    font-size: 24px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 400;
    word-wrap: break-word;
}

.image-digital {
    width: 150px;
    height: 100px;
    left: -20px;
    top: -35px;
    position: absolute;
}


.imagem-maior img {

    left: 1350px;
    top: 50px;
    position: absolute;
}

.button-container2 {
    width: 231px;
    height: 77px;
    left: 1530px;
    top: 820px;
    position: absolute;
}

.button2 {

    color: #028BD9;
    font-size: 36px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: 800;
    word-wrap: break-word;
    background: #0E2C40;
    cursor: pointer;
    border-radius: 10px;
    text-align: center;
    padding: 10px 20px;
    text-decoration: none;
    display: inline-block;
}

  
    

