body {
    background-color: white;
    overflow: hidden;

}


/*Formulario */
.formulario {
    color: #757575;
    font-size: 1.5em;
    margin-bottom: 10px;
    padding-bottom: 10px;



}

.formulario h2.titulo {
    text-align: center;
    color: rgb(0, 0, 0);
    font-family: 'Courier New', Courier, monospace;

}

.formulario {


    max-width: 700px;
    margin: auto;
    overflow: hidden;
    padding: 20px;
    margin-left: 57%;
    justify-content: center;
    align-items: center;
    margin-top: 250px;

}


:focus {
    outline: none;
}

.label {

    float: left;
    width: 100%;
    margin-bottom: 25px;
    position: relative;

}

.input-bordas {

    font: 15px/24px "Lato", Arial, sans-serif;
    color: #333;
    width: 100%;
    box-sizing: border-box;
    letter-spacing: 1px;
    border: 1px solid #ccc;
    padding: 7px 14px 9px;
    transition: 0.4s;

}

.button-form {
    background-color: #0E2C40;
    padding: 0.5em 1.3em;
    color: #fff;
    font-size: 1.2em;
    border-radius: 10px;
    cursor: pointer;

}

.borda-inversa {


    justify-content: center;
    align-items: center;
    vertical-align: middle;
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    -moz-osx-font-smoothing: grayscale;
    -webkit-transition-duration: 0.5s;
    transition-duration: 0.5s;
    -webkit-transition-property: background;
    transition-property: background;
}

.borda-inversa:hover,
.borda-inversa:focus,
.borda-inversa:active {

    background: none;
    color: #39f;
    border-radius: 10px;


}

.naoexibir {
    display: none;
}